@using Task4.Models
@model IEnumerable<Task4.Models.Employee>

@{
    ViewData["Title"] = "Employee";
}
<partial name = "_Message"/>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h2 class="text-center">Employee's Data:</h2>
<table class="table">
<tr>
<th>Id</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Gender</th>
<th>Deptartment</th>
<th>Designation</th>
<th colspan="3">Actions</th>
</tr>
@foreach(var item in Model){
    <tr>
    <td>@item.Eid</td>
    <td>@item.Name</td>
    <td>@item.Email</td>
  <td>@item.Phone</td>
  <td>@item.Gender</td>
    <td>@item.DepName</td>
    <td>@item.DesName</td>
  <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Eid" class="text-decoration-none btn btn-primary">Edit</a></td>
   <td><a asp-controller = "Employee" asp-action = "Details" asp-route-id = "@item.Eid" class = "text-decoration-none btn btn-primary">Details</a></td>
  <td><button class = "btn btn-danger"
  data-bs-toggle="modal"
  data-bs-target="#deleteModal"
  data-url="@Url.Action("Delete", "Employee", new{id=item.Eid})">
  Delete</button></td>
</tr>
}
</table>
  <a asp-controller="Employee" asp-action="Create" class="text-decoration-none text-center btn btn-primary w-100 p-2">Add Employee</a>


@await Html.PartialAsync("_Popup")
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modal = document.getElementById("deleteModal");

        modal.addEventListener("show.bs.modal", function (event) {
            var button = event.relatedTarget;
            var url = button.getAttribute("data-url");

            var confirmBtn = document.getElementById("confirmDeleteBtn");
            confirmBtn.href = url;
        });
    });
</script>